a,a:visited,a:focus{
   color:$color_main_text;
   text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6,p,body,html{
   margin:0;
}
.infoline{
   text-align: left;
   direction: ltr;
   background-color: #2d2d2d;
   padding: 15px 0 15px 0;
   border-bottom: 1px solid #4a4a4a;
   .info{
      margin-right: 25px;
      .icon{
         width: 15px;
         display: inline-block;
         margin-right: 5px;
      }
      .text{
         color:#fff;
         font-size: 10px;
      }
   }
}

.site-branding{
   height: 50px;
   text-align: left;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   .custom-logo-link{
      height: 100%;
   }
   .custom-logo{
      height: 100%;
      width: auto;
   }
}
#masthead{
   background-color: #323232;
}
a:focus,a:visited{
   text-decoration:none;
   outline: none;
}
.grids{
   position: fixed;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: -1;
   .grid{
      float: left;
      width: 20%;
      height: 100%;
      background-color: #E6E6E6;
      border-left: 1px solid #cecece;
   }
}
.first-cat{
   .product-list{
      height: 100%;
      position: relative;
   }
   .product-list{
      height: 500px;
      background: #c8c8c8;
      width: 650px;
      padding: 25px 50px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      right: -80px;
   }
   .cat-image{
      padding: 50px 125px!important;
   }
   .plist-bg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
   }
   .bg-white{
       width: 20%;
       height: 100%;
       background: white;
       right:0;
       top:0;
       position: absolute;
   }
   .bg-orange{
      width: 45%;
       height: 100%;
       position: absolute;
       right: 20%;
       background: $color_main_orange;
       top: 0;
   }
   .plist-title{
      padding: 15px 0;
      border-bottom: 1px dashed $color_main_text;
      h6{
         position: relative;
         padding-right: 25px;
         color: $color_main_orange;
      }
      h6::before {
         content: "";
         width: 20px;
         height: 2px;
         background: $color_main_text;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: 0;
     }
   }
   .product-list-self{
      a{
         margin: 10px 0;
         display: block;
      }
   }
}


.second-cat{
   direction: ltr;
   margin-top: 50px;
   .product-list{
      height: 100%;
      position: relative;
   }
   .product-list{
      height: 500px;
      background: #c8c8c8;
      width: 650px;
      padding: 25px 50px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      right: -80px;
   }
   .cat-image{
      padding: 50px 125px!important;
   }
   .plist-bg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
   }
   .bg-white{
       width: 50%;
       height: 100%;
       background: white;
       left:20%;
       top:0;
       position: absolute;
   }
   .bg-orange{
      width: 20%;
       height: 100%;
       position: absolute;
       left:0;
       background: $color_main_orange;
       top: 0;
   }
   .plist-title{
      padding: 15px 0;
      border-bottom: 1px dashed $color_main_text;
      h6{
         position: relative;
         padding-right: 25px;
         color: $color_main_orange;
      }
      h6::before {
         content: "";
         width: 20px;
         height: 2px;
         background: $color_main_text;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: 0;
     }
   }
   .product-list-self{
      a{
         margin: 10px 0;
         display: inline-block;
      }
   }
}
.intro{
   background-color: $color_main_text;
   color: #fff;
   position: relative;
   padding: 75px 0;
   h2{
      @include vertical_center();
      position: relative;
   }
   p{
      padding: 20px;
      font-size: 0.8em;
      background: gray;
   }
}
.services{
   margin:50px 0;
   .title{
      h5{
         color:$color_main_orange;
         text-align: center;
      }
      h2{
         color:$color_main_text;
         text-align: center;
      }
   }
   .service-icon-inner{
      width: 75px;
      display: block;
      margin: 0 auto;
   }
   .service-title{
      text-align:center;
   }
   .icons-cont{
      margin-top: 50px;
   }
   .icon-cont{
      padding: 25px!important;
   }
   .icon-inner{
      background-color: $color_main_gray;
      padding: 25px 0;
   }
   .title{
      text-align: center;
      width: 100%;
   }
}
.contact{
   position: relative;
   padding: 200px 0;
   .contact-form-cont{
      padding: 50px;
      background: #a1a1a1;
   }
   .form-cont{
      padding: 50px 0;
   }
   .background{
      width: 100%;
      height: 100%;
      background: black;
      position: absolute;
      opacity: 0.1;
      top:0;
      left:0
   }
   .field{
      padding:5px 0;
      input{
            width: 100%;
            border-radius: 0;
            border: none;
            padding: 10px;
      }
      input:focus{
         border:none;
         border-radius: 0;
         outline: none;
      }
   
   }
   .btn{
      padding: 0 !important;
      text-align: left;
      input[type="button"]{
         border: 0;
         padding: 20px 75px;
         margin: 0;
         color: white;
         background: darkorange;
         border-radius: 0;
      }
   }
}
.site-footer{
   padding: 75px;
   background: #323232;
   color: white;
   p,h1,h2,h3,h4,h5,h6{
      color: #878788;
   }
   .content{
      p{
         font-size: 13px;
         margin:15px 0;
      }
   }
   .title{
      padding: 20px 0;
      border-bottom: 1px dashed #616161;
      margin-bottom: 20px;
   }
   .footer-col{
      padding:25px !important;
   }
}
.menu-item{
   a{
      color:#fff;
   }
}
.custom-archive-title-cont{
   background-color: #878787;
   .custom-archive-title{
      padding: 50px 0;
      color:#fff;
   }
}


.archive-slider{
   margin-bottom:75px;
   .slider-product-title{
      padding:20px;
      .english_name{
         font-size: 550%;
         font-family: giant;
         color: #e6e6e6;
      }
   }
}
.homepage-swiper{
   width:100% !important;
   overflow: hidden;
   .product-image{
      padding: 100px;
   }
   .slider-product-title:hover .english_name{
      color:#323232;
   }
   .slider-product-title:hover .product-name{
      color: #e6510e;
   }
   
   .product-anchor{
      display: block;
      margin:0 75px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
   }
   .english_name{
      font-size: 6em;
      font-family: giant;
      color: #e6e6e6;
      transition: all 200ms ease-in-out;
   }
   .english_name + h3{
      font-size: 3em;
      transition: all 200ms ease-in-out;
   }
}
.swipper-slide{
   width:100%;
}
.archive{
   .entry-content{
      padding: 25px;
      h3{
         padding: 20px 0;
         text-align: center;
         background: gray;
         color: white;
         transition:all 250ms ease-in-out;
      }
      h3:hover{
         background: #323232;
      }
      }
      .product-img{
         padding: 20px;
         background:white;
      }
}
.archive-page-header{
   padding: 50px 25px;
   margin: 50px 0;
   background: #323232;
   color: #ffffff;
   border-bottom: 10px solid #e6501e;
   border-top: 10px solid #e6501e;
}


.page{
   .page-header{
      padding: 50px 25px;
      margin-top: 50px;
      background: #323232;
      color: #ffffff;
      border-top: 10px solid #e6501e;
   }
   .entry-content{
      padding: 20px;
      background: white;
   }
}
.container{
   padding: 0;
}
.site-footer .content p{
   margin:0 0 15px 0 !important;
}
.site-footer .content h4{
   display: inline-block;
   padding-left: 34px;
   padding-bottom: 5px;
}
.site-footer p, .site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6, .site-footer a {
   color:white;
}
a.tel{
   direction: ltr !important;
   display: inline-block;
}

